{% extends 'min_page.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}
    <div class="py-3 border-top">
        <h2 class="h5 mb-3">Sign in with existing account</h2>
        {{ form_start(form) }}
        {{ form_errors(form.email) }}
        {{ form_row(form.email, {label_attr: {class: 'sr-only'} }) }}
        {{ form_errors(form.password) }}
        {{ form_row(form.password, {label_attr: {class: 'sr-only'} }) }}
        {{ form_errors(form) }}
        <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
