{% extends 'regular_page.html.twig' %}

{% block meta %}
    <meta http-equiv="Content-Security-Policy"
          content="frame-src blob: data: 'self' 'unsafe-inline'; child-src blob: data: 'self' 'unsafe-inline'">
{% endblock %}

{% block content %}
    <div class="container" id="panel">

        {% if campaign %}
            <nav class="navbar navbar-light border-bottom border-top">
                <div class="navbar-text">
                    {{ campaign.user.fullName }}
                </div>
                <div class="navbar-text">
                    <a href="{{ campaign.landingUrl }}"
                       rel="nofollow noopener noreferrer"
                       target="_blank"
                       title="{{ campaign.landingUrl }}">{{ campaign.landingUrl|length > 50 ? campaign.landingUrl|slice(0, 50) ~ '…' : campaign.landingUrl }}</a><br/>
                    id: <code>{{ campaign.campaignId|hex }}</code>
                </div>
                <div class="navbar-text small text-right">
                    creted at: {{ campaign.createdAt|date('Y-m-d H:m:s') }}<br/>
                    updated at: {{ campaign.updatedAt|date('Y-m-d H:m:s') }}
                </div>
                <div>
                    {% if prevCampaign %}
                        <a class="btn btn-primary btn-sm"
                           href="{{ path('classification', {'requestId': prevCampaign.id}) }}"><i
                                    class="fas fa-chevron-left mr-2"></i>Prev</a>
                    {% endif %}
                    {% if nextCampaign %}
                        <a class="btn btn-primary btn-sm"
                           href="{{ path('classification', {'requestId': nextCampaign.id}) }}">Next<i
                                    class="fas fa-chevron-right ml-2"></i></a>
                    {% endif %}
                </div>
            </nav>
        {% endif %}

        {% set maxWidth = 700 %}
        {% set maxHeight = 200 %}

        {% if not requests %}
            <div class="alert alert-warning mt-2" role="alert">
                {% if campaign %}
                    The list of requests <b>is empty</b>.
                {% else %}
                    The list of pending campaigns <b>is empty</b>.
                {% endif %}
            </div>
        {% else %}
            <form id="panel-list" action="{{ path('classification_save') }}" method="post">
                <input type="hidden" name="token" value="{{ csrf_token('panel') }}"/>
                <div class="text-right mt-2 pb-2 ">
                    <button type="submit" class="btn btn-lg btn-success">Save<i class="fas fa-check ml-2"></i></button>
                </div>
                <div class="py-2 px-3 text-right categories" id="bulk-categories">
                    <span class="button-checkbox category category-safe mr-2">
                        <button
                                type="button"
                                data-off-color="light"
                                data-on-color="success"
                                class="btn btn-sm btn-light"
                        ><i class="fas fa-check mr-2"></i> {{ categorySafe.label }}</button>
                        <input data-key="{{ categorySafe.key }}" type="checkbox" class="collapse"/>
                    </span>
                    <span class="button-checkbox category category-reject mr-4">
                        <button
                                type="button"
                                data-off-color="light"
                                data-on-color="danger"
                                class="btn btn-sm btn-light"
                        ><i class="fas fa-times mr-2"></i> {{ categoryReject.label }}</button>
                        <input data-key="{{ categoryReject.key }}" type="checkbox" class="collapse"/>
                    </span>
                    {% for category in categories %}
                        <span class="button-checkbox category">
                            <button
                                    type="button"
                                    data-off-color="light"
                                    data-on-color="warning"
                                    class="btn btn-sm btn-light"
                            >{{ category.label }}</button>
                            <input data-key="{{ category.key }}" type="checkbox" class="collapse"/>
                        </span>
                    {% endfor %}
                </div>
                {% for request in requests %}
                    <div class="row border-bottom my-2 py-2 request">
                        <div class="col-8">
                            <div class="banner-box mt-2"
                                 style="max-height: {{ maxHeight }}px; width: {{ maxWidth }}px;">
                                {% if request.type == 'direct' %}
                                    {% set directUrl = request.ad.content|split('#')|last == request.ad.size ? request.ad.content|split('#', -1)|join('#') : request.ad.content %}
                                    <code><a href="{{ directUrl }}" target="_blank" rel="nofollow noreferrer noopener">{{ directUrl }}</a></code>
                                    <br />
                                    <code>{% if request.ad.size matches '/^\\d+x\\d+$/' %}iframe {% endif %}{{ request.ad.size }}</code>
                                {% else %}
                                    {% set scale = min(1.0, maxWidth/request.ad.width, maxHeight/request.ad.height) %}
                                    <div style="
                                            width: {{ request.ad.width }}px;
                                            height: {{ request.ad.height }}px;
                                            transform:scale({{ scale }});
                                            ">
                                        {% if request.type == 'image' %}
                                            <img src="{{ request|image64(true) }}" border="0" alt=""/>
                                        {% else %}
                                            <iframe srcdoc="{{ request.ad.content }}" sandbox="allow-scripts" width="100%"
                                                    height="100%"
                                                    marginwidth="0" marginheight="0" vspace="0" hspace="0"
                                                    allowtransparency="true"
                                                    scrolling="no" frameborder="0"></iframe>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-4 categories">
                            <div class="small mr-2 mb-1 text-right">
                                <span class="badge badge-rs{{ request.status }}"
                                      title="{{ request|requestStatus(true) }}">{{ request|requestStatus(false, true) }}</span>
                                <span class="badge badge-rcs{{ request.callbackStatus }}"
                                      title="{{ request|callbackStatus(true) }}">{{ request|callbackStatus(false, true) }}</span>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6">
                                    {% set isChecked = categorySafe.key in request.ad.keywords.category|default([]) %}
                                    <span class="button-checkbox category category-safe">
                                        <button type="button"
                                                class="btn btn-secondary mb-1"
                                                data-on-color="success"
                                                title="{{ categorySafe.description }}"
                                        ><i class="fas fa-check mr-2"></i> {{ categorySafe.label }}</button>
                                        <input name="classifications[{{ request.id }}][{{ categorySafe.key }}]"
                                               type="checkbox" {% if isChecked %}checked{% endif %} class="collapse"/>
                                    </span>
                                </div>
                                <div class="col-6 text-right">
                                    {% set isChecked = request.ad.isRejected %}
                                    <span class="button-checkbox category category-reject">
                                        <button type="button"
                                                class="btn btn-secondary mb-1"
                                                data-on-color="danger"
                                                title="{{ categoryReject.description }}"
                                        ><i class="fas fa-times mr-2"></i> {{ categoryReject.label }}</button>
                                        <input name="classifications[{{ request.id }}][{{ categoryReject.key }}]"
                                               type="checkbox" {% if isChecked %}checked{% endif %} class="collapse"/>
                                    </span>
                                </div>
                            </div>
                            {% for category in categories %}
                                {% set isChecked = category.key in request.ad.keywords.category|default([]) %}
                                <span class="button-checkbox category category-{{ category.key }}">
                                    <button type="button"
                                            class="btn btn-secondary mb-1"
                                            data-on-color="warning"
                                            {% if category.description is defined %}
                                                title="{{ category.description }}"
                                            {% endif %}
                                    >{{ category.label }}</button>
                                    <input name="classifications[{{ request.id }}][{{ category.key }}]" type="checkbox"
                                           {% if isChecked %}checked{% endif %} class="collapse"/>
                                </span>
                            {% endfor %}
                            <div class="row small mt-2 py-1 border rounded">
                                <div class="col-sm-2 px-1 text-right">id:</div>
                                <div class="col-sm-10 px-1"><code>{{ request.bannerId|hex }}</code></div>
                                <div class="col-sm-2 px-1 text-right">chk:</div>
                                <div class="col-sm-10 px-1"><code>{{ request.ad.checksum|hex }}</code></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="text-right">
                    <button type="submit" class="btn btn-lg btn-success">Save<i class="fas fa-check ml-2"></i></button>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}
