{% extends 'regular_page.html.twig' %}

{% block content %}
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Client</th>
                    <th scope="col">Hash</th>
                    <th scope="col">Keywords</th>
                    <th scope="col">Status</th>
                    <th scope="col">Callback</th>
                </tr>
                </thead>
                <tbody>
                {% for request in requests %}
                    <tr>
                        <th scope="row">{{ request.id }}</th>
                        <td>{{ request.createdAt|date('Y-m-d H:m:s') }}</td>
                        <td>{{ request.user.fullName }}</td>
                        <td><code>{{ request.ad.checksum|hex }}</code></td>
                        <td>
                            {% if request.isPending %}
                                <a class="btn btn-primary btn-sm" href="{{ path('classification', {'requestId': request.id}) }}">Classify</a>
                            {% else %}
                                <small>{{ request.ad.keywords|keywords }}</small>
                            {% endif %}
                        </td>
                        <td>
                            <span class="badge badge-rs{{ request.status }}"
                                  title="{{ request.info }}">{{ request.status|requestStatus }}</span>
                        </td>
                        <td>
                            <span class="badge badge-rcs{{ request.callbackStatus }}"
                                  title="{{ request.sentAt|date('Y-m-d H:m:s') }}">{{ request.callbackStatus|callbackStatus }}</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if not requests.getIterator.count %}
            <div class="alert alert-warning" role="alert">
                The list of requests <b>is empty</b>.
            </div>
        {% endif %}
        {% include 'utils/pagination.html.twig' with {'url': 'classification_status'} %}
    </div>
{% endblock %}
